@import "../../../theme/__init.styl"
@import "../../../style/__vendor.styl"

[data-molecule-div=calendar]
  position: relative
  text-align: center
  width: inherit

  &.disabled
    > [data-molecule-div] > [data-atom-button]
      display: none
  &.disable_previous_days
    > [data-molecule-div] > [data-atom-button]:first-child
      visibility: hidden

  > [data-molecule-div]
    display-flex()
    height: HEIGHT = 2rem
    line-height: HEIGHT
    > [data-atom-heading]
      flex-grow 2
      > *
        padding-right: (FONT_SIZE_TINY / 4)
        font-size: FONT_SIZE_TINY
        font-weight: FONT_WEIGHT_THIN
        font-style: italic
        opacity: 0.5

    > [data-atom-button]
      flex-shrink 0
      margin: 0
      padding: 0 (FORM_SIZE) !important
      color: rgba(0,0,0,0.5)
      > .icon
        font-size: FONT_SIZE_BIG
        font-weight: FONT_WEIGHT_BOLD

  > [data-atom-day]
    position: relative
    display: inline-block
    width: 14.25%
    font-size: FONT_SIZE_SMALL
    font-weight: FONT_WEIGHT_BOLD
    line-height: (1.75 * FONT_SIZE_SMALL)
    cursor: pointer

    &:nth-child(-n+8)
      font-size: SIZE = (FONT_SIZE_TINY / 1.1)
      line-height: SIZE
      opacity: 0.5



    &:nth-child(n+9)
      &:nth-child(7n), &:nth-child(7n+1)
        font-weight: FONT_WEIGHT_NORMAL

      &.disabled
        opacity: 0.3
        &:not(.month)
          font-weight: FONT_WEIGHT_THIN
      &:not(.disabled):active
        background-color: rgba(0,0,0,0.15)
        font-weight: FONT_WEIGHT_BOLD

    &.event
      &:after
        content: "·"
        position: absolute
        left: 0px
        top: 65%
        width: 100%
        height: HEIGHT = (FONT_SIZE_SMALL / 2)
        font-size: (2 * FONT_SIZE_BIG)
        font-weight: FONT_WEIGHT_THIN
        line-height: HEIGHT
        opacity: 0.5

    &.active
      font-weight: FONT_WEIGHT_BOLD !important
      color: WHITE
      background-color: rgba(0,0,0,0.4)


@media screen and (min-width: 1024px)
  [data-molecule-div=calendar]
    > [data-atom-day]
      &:nth-child(n+9)
        &:hover
          background-color: rgba(0,0,0,0.15)
          font-weight: FONT_WEIGHT_BOLD
