@import "../../../theme/__init.styl"
@import "../../../style/__vendor.styl"

[data-molecule-div=calendar]
  position: relative
  display: table
  text-align: center

  > [data-atom-heading]
    font-size
  > [data-atom-day]
    position: relative
    display: inline-block
    width: 14.25%
    font-size: FONT_SIZE_SMALL
    font-weight: FONT_WEIGHT_NORMAL
    line-height: 1.75rem
    border-radius .15rem


    &:hover, &:active
      font-weight: FONT_WEIGHT_BOLD

    &:nth-child(7n+7), &:nth-child(7n+8)
      opacity: 0.6

    &:nth-child(-n+8)
      font-size: FONT_SIZE_TINY

    &.disabled, &:nth-child(-n+8)
      font-weight: FONT_WEIGHT_THIN
      opacity: 0.3

    &.today
      font-weight: FONT_WEIGHT_BOLD
      color: red

    &.event
      font-weight: FONT_WEIGHT_BOLD
      &:after
        content: "·"
        position: absolute
        left: 0px
        top: 64%
        width: 100%
        height: HEIGHT = (FONT_SIZE_SMALL / 2)
        font-size: (2.5 * FONT_SIZE_BIG)
        font-weight: FONT_WEIGHT_THIN
        line-height: HEIGHT
        opacity: 0.6

    &.active
      background-color: #ccc
      color: #fff
      font-weight: FONT_WEIGHT_BOLD
